extends ../application.pug

block content
  .container
      .row
        .col-xs-12.col-md-8

          if error
            .alert.alert-danger(role='alert')
              strong=error.message

          h1 Edit post
          p=post.id
          hr

          form(action='/admin/posts/' + post.id + '/edit', method='POST')
            input(type='hidden', name='_method', value='PUT')
            .form-group
              label Post Title:
              input.form-control(type='text', name='title', value=post.title)
            .form-group
              label Post Slug:
              input.form-control(type='text', name='slug', value=post.slug)
            .form-group
              label Post Content:
              textarea.form-control(type='text', rows='20', name='content' value=post.content)
            .form-group.text-xs-right
              button.btn.btn-success.btn-lg(type='submit') Edit post
